.navConteiner {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    flex-direction: row;
    background-color: #e99803;
    padding: 10px;
    border: #694401 solid 2px;
    z-index: 500;
    align-items: center;
    
}

.logo {
    transition: transform 0.3s ease-in-out;
    width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
    height:75px;
    border-radius: 25px;
    border: rgb(172, 112, 1) ridge 2px;
}

.logo:hover{
    transform: translateX(10px);
}

.addRecipeButton{
    padding: 20px;
    border-radius: 22px;
    background-color: #fff;
    color: #e99803;
    
}
